name: asrw

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.1.6

    - name: Set up Docker buildsx
      uses: docker/setup-buildx-action@v3.3.0

    - name: Cache Docker layers
      uses: actions/cache@v4.0.2
      with:
        path: /temp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Login to GitHub Container Registry
      run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Convert repository name to lowercase
      id: repo-name-lowercase
      run: echo "REPO=$(echo "${{ github.repository }}" | awk '{print tolower($0)}')" >> $GITHUB_OUTPUT

    - name: Build and push Docker image
      uses: docker/build-push-action@v5.3.0
      with:
        context: .
        push: true
        tags: ghcr.io/${{ env.REPO }}:latest
        cache-from: type=local,src=/temp/.buildx-cache
        cache-to: type=local,dest=/temp/.buildx-cache